<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MyArtifactSuite" >
  <!--
       thread-count="1"
       parallel="methods"

  -->
  <listeners>
    <listener class-name="com.nagarro.utils.reporting.TNGListener"></listener>

  </listeners>
  <test name="Regression">
   <parameter name="browser" value="Chrome"/>
    <classes>

      <class name="com.nagarro.tests.Test_Login"/>
      <class name="com.nagarro.tests.Test_ProductSearchFilter"/>
	  <class name="com.nagarro.tests.Test03AddToCartAndPurchase"/>
	  <class name="com.nagarro.tests.Test05VerifyLogout"/>


    </classes>

  </test>
</suite>
